.outerContainer {
    height: 200vh;
    width: 95%;
    margin: 2%;
}

.innerContainer {
    display: inline-flex;
    width: 100%;
    border-bottom: 2px seagreen dotted;
    border-radius: 1%;
}

.headingP {
    font-family: monospace;
    font-size: 30px;
    margin: 10px;
    border-bottom: 2px seagreen dotted;
}

.headingImg {
    border: 1px seagreen solid;
    border-radius: 2%;
}

.navP {
    display: inline-flex;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.galleryNavLink {
    margin: 5%;
    font-family: "VT323";
    font-size: 24px;
    color: seagreen;
    background-color: transparent;
}

.zineNavLink {
    margin: 5%;
    font-family: "VT323";
    font-size: 24px;
    color: seagreen;
    background-color: transparent;
}

.storeNavLink {
    margin: 5%;
    font-family: "VT323";
    font-size: 24px;
    color: seagreen;
    background-color: transparent;
}

.gamesNavLink {
    margin: 5%;
    font-family: "VT323";
    font-size: 24px;
    color: seagreen;
    background-color: transparent;
}

.mainSection {
    display: flex;
    justify-content: start;
}

.mainImg {
    padding: 10px;
}