.outerContainer {
    height: 200vh;
    width: 95%;
    margin: 2%;
}

.innerContainer {

}

.headingP {

}

.headingImg {

}

.navP {

}

.galleryNavLink {

}

.zineNavLink {

}

.storeNavLink {

}

.gamesNavLink {

}

.mainSection {

}

.mainImg {

}