@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.playArea {
	border: 5px solid seagreen;
	position: absolute;
	top: 20%;
	left: 15%;
    border-radius: 2%;
	width: 585px;
	height: 440px;
}

#fruit {
	display: none;
}


.gameOver {
	position: fixed;
	bottom: 30%;
	left: 20%;
	
	color: white;
	font-size: 70px;
	font-family: 'Press Start 2P';
}
.playButton {
	position: fixed;
	bottom: 40%;
	left: 20%;
	color: white;
	font-size: 60px;
	font-family: 'Press Start 2P', cursive;
	transition: 1000ms ease-in-out;
}

.playButton:hover {
	height: 100px;
	width: 300px;
	transform: translate(-15%, 0%);
}

h2 {
	font-size: 18px;
	padding: 10px;
}

.logoBox {
    height: 30vh;
	position: absolute;
	left: 15%;
	top: 5%;
    display:list;
	width: max-content;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    transition: 500ms ease-in-out;
    font-size: 26px;
}

.logoBox:hover {
   color: seagreen;
}

.name {
	color: orangered;
	transition: 500ms ease-in-out;
	
}

.name:hover {
	background: linear-gradient(45deg, #FFA500, #000000);
	font-size: 100px;
	border-bottom: #FFA500 40px dashed;
}

.scoreBox {
	margin-left: 30px;
    font-family: "Share Tech Mono", monospace;
	color: orangered;
	font-size: 20px;
	transition: 10000ms ease-in;
}

.scoreBox:hover {
	border: 30px orangered dotted;
	border-radius: 15%;
}

.nameDisplay {
	position: absolute;
	font-family: 'Press Start 2P';
	color: seagreen;
	bottom: 30%;	
	left: 15%;
}

.nameInput {
	width: fit-content;
	font-size: 20px;
	font-family: 'Press Start 2P';
	color: seagreen;
	transition: 100ms ease-in-out;
}

.nameInput:hover {
	font-size: 25px;
	background-color: #FFA500;
}

.buttonName {
	border-radius: 2%;
	color: seagreen;
	padding: 2%;
	height: fit-content;
	width: fit-content;
	left: 30%;
	font-size: 24px;
	font-family: 'Press Start 2P';
	box-shadow: inset;
}

.buttonName:hover {
	cursor: grab;
	border-bottom: 12px orange dashed;
}

.backButton {
	position: fixed;
	font-size: 32px;
	font-family: 'Press Start 2P';
	color: seagreen;
	width: fit-content;
	transition: 1000ms ease-in-out;
}

.backButton:hover {
	transform: translate(0%, 1000%);
	/* font-size: xx-small; */

}