.pageContainer{
    background-color: goldenrod;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: "VT323", monospace;
    justify-content: center;
    align-items: center  ;
}

.scores { 
   
}

.score {
    position: absolute;
    background-color: gold;
    left: 100px;
    top: 100px;
    border: 1px seagreen solid;
}

.highScore {
    background-color: gold;
    position: absolute;
    left: 100px;
    top: 160px;
    border: 1px seagreen solid;
}

.gameBorderOne {
    border: #595f43 10px solid;
    border-radius: 2%;
    margin-bottom: -5%;
    margin-top: -5%;
}

.gameBorderTwo {
    border: #7b9421 10px solid;
    border-radius: 1%;
    margin-bottom: -5%;
    margin-top: -5%;}

.gameBorderThree {
    border: #9aaa5f 10px solid;
    border-radius: 2%;
    margin-bottom: -5%;
    margin-top: -5%;
}

.gameBoard {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

.gameStart {
    display: flex;
    position: absolute;
    left: 100px;
    top: 80vh;
    background-color: darkkhaki;
    border: 1px seagreen solid;
}