@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.playArea {
	border: 5px solid seagreen;
    border-radius: 2%;
	width: 585px;
	height: 440px;
	position: fixed;
	top: 50.2%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#fruit {
	display: none;
}


.gameOver {
	position: fixed;
	top: 43.2%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 70px;
}
.playButton {
	position: fixed;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background: #502c7b;
	border: 2px solid white;
	padding: 10px;
	font-size: 0.9em;
	color: white;
	box-shadow: 4px 4px 0px 0px white;
	font-family: 'Press Start 2P', cursive;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
}

h2 {
	font-size: 18px;
	padding: 10px;
}

.logoBox {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Press Start 2P';
    transition: 500ms ease-in-out;
    font-size: 26px;
	
}

.logoBox:hover {
   color: seagreen;
}

.name {
	color: orangered;
	transition: 500ms ease-in-out;
}

.name:hover {
	background: linear-gradient(45deg, #FFA500, #000000);
	font-size: 175px;
	border-bottom: #FFA500 40px dashed;
}

.scoreBox {
	margin-left: 30px;
    font-family: "Share Tech Mono", monospace;
	color: orangered;
	font-size: 20px;
	transition: 10000ms ease-in;
}

.scoreBox:hover {
	border: 30px orangered dotted;
	border-radius: 15%;
}

.nameInput {

}

.nameDisplay {

}