.outerDiv {
    display: flex;
    position: absolute;
    left: 150px;
    height: 290px;
    width: 850px;
    margin-top: 12px;
    background-color: black;
    border: 1px seagreen dotted;
}

.innerDiv {
    position: absolute;
    top: 320px;
    left: 150px;
    height: 600px;
    width: 850px;
    color: seagreen;
    background-color: black;
    font-family: monospace ;
}

.imageDino {
    top: 50px;
    height: 540px;
    width: 830px;
    margin-top: 15px;
    margin-left: 10px;
}

.quote {
    padding-left: 10;
    background-color: black;
}