.outerDiv {
    display: flex;
    position: absolute;
    left: 150px;
    height: 190px;
    width: 790px;
    margin-top: 12px;
    background-color: black;
    border: 1px seagreen dotted;
}

.innerDiv {
    height: 190px;
    width: 250px;
    color: seagreen;
    background-color: black;
    font-family: monospace ;
}

.imageDino {
    height: 140px;
    width: 230px;
    margin-top: 15px;
    margin-left: 10px;
}

.quote {
    padding-left: 10;
    background-color: black;
}