.footer {
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: end;
    top: 95vh;
    height: 5vh;
    width: 94%;
    padding: 5px;
    font-family: "VT323", monospace;
    font-size: 26px;
    color: orangered;
    transition: 1000ms ease-in-out;
}

.footer:hover{
    font-size: 30px;
    color: orange;
}