@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.highScoresBox {
    position: absolute;
    left: 50vh;
    top: 5vh;
    width: 100%;
    height: 50vh;
    border-left: 3px oldlace dotted;
    padding: 2%;
}

.scoreTitle {
    color: oldlace;
    font-family: 'VT323';
    font-size: 54px;
    border-bottom: 2px oldlace solid;
    width: fit-content;
}

.itLoads {
    padding: 1%;
    font-size: 50px;
    font-family: 'Press Start 2P';
    color: maroon;

}

.dataBox {
    color: oldlace;
    font-family: 'VT323';
    font-size: 54px;
}