.highScoresBox {

    position: absolute;
    left: 50vh;
    top: 5vh;
    width: 100%;
    height: 50vh;
    border-left: 3px oldlace dotted;
    padding: 2%;
}

.scoreTitle {
    color: oldlace;
    font-family: 'VT323';
    font-size: 54px;
    border-bottom: 2px oldlace solid;
    width: fit-content;
}

.itLoads {
    font-size: 100px;
    font-family: "Share Tech Mono", monospace;
    color: #242434;
}

.dataBox {
    color: oldlace;
    font-family: 'VT323';
    font-size: 54px;
}