.highScoresBox {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: flex-end;
}

.scoreTitle {
    color: oldlace;
    font-family: 'VT323';
    font-size: 54px;
}

.itLoads {
    font-size: 100px;
    font-family: "Share Tech Mono", monospace;
    color: #242434;
}

.dataBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px
}