.menuContainer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 10px;
    font-family: monospace;
    font-size: 18px;
    color: seagreen;
}


.zines {
    font-family: monospace;
    font-size: 18px;
    color: seagreen;
    transition: color 0.3s;
}
.zines:hover {
    cursor: grab;
    color:palegreen;
}

.home {
    font-family: monospace;
    font-size: 18px;
    color: seagreen;
    transition: color 0.3s;
}

.home:hover {
    cursor: grab;
    color:palegreen;
}

.music {
    font-family: monospace;
    font-size: 18px;
    color: seagreen;
    transition: color 0.3s;
}
.music:hover{
    cursor: grab;
    color:palegreen;
}

.essay {
    font-family: monospace;
    font-size: 18px;
    color: seagreen;
    transition: color 0.3s;
}
.essay:hover {
    cursor: grab;
    color:palegreen;
}

.shorts {
    font-family: monospace;
    font-size: 18px;
    color: seagreen;
    transition: color 0.3s;
}
.shorts:hover {
    cursor: grab;
    color:palegreen;
}

.photo {
    font-family: monospace;
    font-size: 18px;
    color: seagreen;
    transition: color 0.3s;
}
.photo:hover {
    cursor: grab;
    color:palegreen;
}

.food {
    font-family: monospace;
    font-size: 18px;
    color: seagreen;
    transition: color 0.3s;
}
.food:hover {
    cursor: grab;
    color:palegreen;
}