.menuContainer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 30px;
    top: 15px;
    width: 100px;
    font-family: monospace;
    font-size: 18px;
    color: seagreen;
}


.zines {
    font-family: monospace;
    font-size: 18px;
    color: seagreen;
    transition: color 0.3s;
}
.zines:hover {
    
    cursor: grab;
    color:palegreen;
}