.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 25px;
    left: 150px;
}

.pageInfo {
    display: flex;
    position: absolute;
    left: 1000px;
    top: 20px;
    width: 380px;
    border: 1px seagreen dotted;
    font-family: monospace;
    color: seagreen;
}

.buttonPrev {
    width: 380px;
    height: 50px;
    border-radius: 5%;
    font-family: monospace;
    color: seagreen;
}

.buttonNext {
    width: 380px;
    height: 50px;
    border-radius: 5%;
    font-family: monospace;
    color: seagreen;
}

.buttonBox {
    position: absolute;
    left: 1000px;
    top: 600px;
}